<%
var checkUser=0;
if(typeof user=="object") {checkUser=1 }else{ checkUser=2 }
%>

<div id="results" class="pt-3 rounded" style="position:fixed;height:90vh; width: 25vw;bottom: 0%;left: 0%;background-color: #f5efef;overflow: scroll;overflow-x: hidden;"></div>
