<div class="contactDetails mt-4 mb-5">
    <a href="/"                 class="btn btn-secondary btn-block" >Home       </a>
    <a href="/contact" class="btn btn-secondary btn-block">Contact</a>
</div>