<% let checkUser=2; if(String(typeof user) !== "undefined" && String(typeof user.user) !== "undefined") {checkUser=1 }else{ checkUser=2 } %>
<% let checkAdmin=0; if(String(typeof user) !== "undefined" && String(typeof user.user) !== "undefined") { checkAdmin=user.user.admin } %>
<div class="header">

    <div class="navCenter">
        <a href="/"><img src="./img/logo3.jpeg" style="border: 1px solid black; height: 70px;padding: 0.5rem; box-shadow: inset 0 0 0 2000px #EDB7F1;" class="rounded" alt="Logo" ></a>
        
    </div>      
    <div class="navCenter">
            <div class="userProfileDiv rounded">
                <%if(checkUser == 1 ){%><div><span id="welcomeMsg">Welcome<br><%=user.user.username%>!</span></div><%}%>
                <div class="dropdown">
                    <span><ion-icon name="menu-outline" size="large"></ion-icon>
                        <ion-icon name="person-circle-outline" size="large"></ion-icon></span>

                    <div class="dropdown-content">
                        <%if(checkUser == 1 ){%>
                            <a href="/myprofile" class="btn btn-success btn-block">Profile</a>
                            <a href="/logout" class="btn btn-dark btn-block">Logout</a>
                            <%} else {%>
                            <button class="btn btn-info btn-block" onclick="openUserModal(2)">Login</button>
                            <button class="btn btn-primary btn-block" onclick="openUserModal(5)">Register</button>
                            <%}%>
                    </div>
                </div>
            </div>
    </div>
    <div id="popupMessages">
        <%- include ('./messages') %>
    </div>
</div>