<div class="header">

    <div class="navCenter ">
        <a href="/index"            class="btn btn-secondary btn-block" >Home       </a>
        <%if(typeof user != "object"){%>
        <a href="/users/register"   class="btn btn-primary btn-block"   >Register   </a>
        <a href="/users/login"      class="btn btn-secondary btn-block" >Login      </a>
        <%}%>
        <%if(typeof user == "object"){%>
        <a href="/users/logout"     class="btn btn-secondary btn-block" >Logout     </a>
        <%}%>

    </div>

</div>