<% if(typeof user =="object" ) {%>
   
<div class="mainModal2 hideMe" id="mainModal2" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
    <div class="subModal2 hideMe" id="subModal2" style="border:5px solid rgb(239 188 244);background-color:white;position:fixed;height:80vh; width:400px;z-index:10000;border-radius:5%;display: flex!important;flex-direction: row;justify-content: center;">
        <div style="max-width:400px;display: flex;text-align: center;justify-content: center;flex-direction: column;">
            <div style="height:40vh;z-index: 999999999;width: 290px; display: flex; justify-content: center;align-items: center;flex-direction: column;">
                <div hidden id="hotelID" style="padding:10px;background-color:white;overflow: hidden"></div>
                
                <div id="carrDiv" style="display: inline-block"></div>

                <span id="numberOfPeopleAVAILABLE" ></span>

                <div id="calendarDiv" style="display: flex;gap:10px">
                    <button class="btn btn-block fs-5 fw-bolder">-</button><input readonly id="numberOfPeople" style="border-radius: 50%;border: 1px solid rebeccapurple;width: 40px;text-align: end;" type="number" ><button class="btn btn-block fs-5 fw-bolder">+</button>
                </div>

                <div class="vanilla-calendar" id="calendar" style="width: 260px;" ></div>

                <input  type="text" id="dateOfBooking" class="my-2" >
                <div hidden id="bookingUser" style="padding:10px;background-color:white;overflow: hidden"><%=user[0]["dataValues"].username%></div>
                <button class="py-2 px-5 rounded" type="button" onclick="completeBooking()" id="insertSpecialButton2">🥂Book!</button>
                <!-- <script>
                    document.getElementById("dateOfBooking").setAttribute('min', new Date().toISOString().slice(0, 10));
                    document.getElementById("dateOfBooking").setAttribute('value', new Date().toISOString().slice(0, 10));
                </script> -->
                
            </div>
        </div>
    </div>
    <div style="width:100vw;height:100vh;position:fixed;left:0%;" onclick="hideModal2()"></div>
</div>

<%} else { %>
<div class="mainModal2 hideMe" id="mainModal2" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
    <div class="subModal2 hideMe" id="subModal2" style="position:fixed;height:fit-content; width:fit-content;z-index:10000;display: flex!important;flex-direction: row;justify-content: center;align-items: center">
            <%- include ('../login') %>
    </div>
</div>
<%}%>
