<% let checkUser=2; if(String(typeof user) !== "undefined" && String(typeof user.user) !== "undefined") {checkUser=1 }else{ checkUser=2 } %>
<% let checkAdmin=0; if(String(typeof user) !== "undefined" && String(typeof user.user) !== "undefined") { checkAdmin=user.user.admin } %>
<%if(checkUser==1 ){%>
<div class="mainModal3 hideMe" id="mainModal3" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
    <div class="subModal3 hideMe" id="subModal3" style="margin-top: 100px;border:5px solid rgb(239 188 244);background-color:white;position:fixed;height:80vh; width:360px;z-index:10000;border-radius:5%;display: flex!important;flex-direction: row;justify-content: center;">
        <div style="height:50px"></div>
        <div style="max-width:40vw">
            <div style="height:10vh"></div>
            <div style="height:40vh;z-index: 999999999;width: 160px;text-align: center;">
                <div hidden id="hotelIDForAddImg" style="padding:10px;background-color:white;overflow: hidden"></div>
                <div id="modalAddImg" style="padding:10px;background-color:white;overflow: hidden;width: 100%;">
                    <form >
                        <input type="hidden" name="avatar_url2" id="avatar_url2" class="simple-file-upload" data-maxFileSize="0.5"> 
                    </form>
                </div>
                <div style="padding:10px;background-color:white;overflow: hidden">
                    <h5>Select or drop any photo onto the above area.</h5>
                </div>
                <script>
                    document.getElementById("avatar_url2").addEventListener("fileUploadSuccess", function (e) {
                        addImg(document.getElementById("hotelIDForAddImg").innerHTML,this.value,'<%=checkUser%>')
                    });
                </script>
                
                
            </div>
        </div>
    </div>
    <div style="width:100vw;height:100vh;position:fixed;left:34%;" onclick="hideModal(3)"></div>
</div>

<%} else { %>
    <div class="mainModal3 hideMe" id="mainModal3" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
        <div class="subModal3 hideMe" id="subModal3" style="position:fixed;height:fit-content; width:fit-content;z-index:10000;display: flex!important;flex-direction: row;justify-content: center;align-items: center">
                <%- include ('../login') %>
        </div>
    </div>
    <%}%>