<% if(typeof user =="object" ) {%>
   
<div class="mainModal2 hideMe" id="mainModal2" style="position:fixed;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0, 0, 0, 0.568);z-index:9999">
    <div class="subModal2 hideMe" id="subModal2" style="box-shadow: inset 0 0 20px 2px #e587d6;background-color:white;position:fixed;height:100vh; width:40vw;left:5%;top:0%;z-index:10000;border-radius:5%;display: flex!important;flex-direction: row;justify-content: center">
        <div style="max-width:32vw">
            <div style="height:10vh"></div>
            <div style="height:40vh;z-index: 999999999;">
                <div id="hotelID" style="padding:10px;background-color:white;overflow: hidden"></div>
                
                <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div id="carousel-indicators" class="carousel-indicators"></div>
                    <div id="carousel-inner" class="carousel-inner"></div>
                </div>
                
                <div style="padding:10px;background-color:white;overflow: hidden;display: flex;">
                    <input id="numberOfPeople" style="width: 50px;" type="number" value="1" min="1">/
                    <input style="width: 50px;" type="number"></div>
                <div style="padding:10px;background-color:white;overflow: hidden"><input type="date" id="dateOfBooking"></div>
                <div id="bookingUser" style="padding:10px;background-color:white;overflow: hidden"><%=user[0]["dataValues"].username%></div>
                <button class="py-2 px-5" type="button" onclick="completeBooking()" id="insertSpecialButton2">🥂Book!</button>
                <script>
                    document.getElementById("dateOfBooking").setAttribute('min', new Date().toISOString().slice(0, 10));
                    document.getElementById("dateOfBooking").setAttribute('value', new Date().toISOString().slice(0, 10));
                </script>
                
            </div>
        </div>
    </div>
    <div style="width:100vw;height:100vh;position:fixed;left:0%;" onclick="hideModal2()"></div>
</div>

<%} else { %>
<div class="mainModal2 hideMe" id="mainModal2" style="position:fixed;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0, 0, 0, 0.77);z-index:9999">
    <div class="subModal2 hideMe" id="subModal2" style="background-color:rgb(255 255 255 / 64%);position:fixed;height:100vh; width:30vw;left:50%;top:0%;z-index:10000;display: flex!important;flex-direction: row;transform: translateX(-50%);justify-content: center;align-items: center">
            <%- include ('../login') %>
    </div>
</div>
<%}%>