<% let checkUser=2; if(String(typeof user) !== "undefined" && String(typeof user.user) !== "undefined") {checkUser=1 }else{ checkUser=2 } %>
<% let checkAdmin=0; if(String(typeof user) !== "undefined" && String(typeof user.user) !== "undefined") { checkAdmin=user.user.admin } %>
<%if(checkUser==1 ){%>
<div class="mainModal1 hideMe" id="mainModal1" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
    <div class="subModal1 hideMe" id="subModal1" style="margin-top: 100px;border:5px solid rgb(239 188 244);background-color:white;position:fixed;height:80vh; width:360px;z-index:10000;border-radius:5%;display: flex!important;flex-direction: row;justify-content: center;">
        <div style="max-width:370px;display: flex;text-align: center;justify-content: center;">
            <div style="height:10vh"></div>
            <div style="height:40vh;z-index: 999999999;width: 290px;">

                <div hidden id="modalCoordsLat" style="padding:10px;background-color:white;overflow: hidden"></div>
                <div hidden id="modalCoordsLon" style="padding:10px;background-color:white;overflow: hidden"></div>

                <div id="modalIcon" style="padding:10px;background-color:white;overflow: hidden;">Type:
                    <select name="modalIconMenu" id="modalIconMenu">
                        <option value="iconhotel">🏬Hotel</option>
                        <option value="iconBandB">🕌B&B</option>
                        <option value="iconcampsite">🏣Campsite</option>
                        <option value="iconpub">🌟Pub</option>
                    </select>
                </div>
                
                <div style="padding:10px;background-color:white;overflow: hidden"><input required type="text" id="modalName" placeholder="Name.."><span id="error1"
                    style="visibility: hidden; color:red;font-size: 1.4em;font-weight: bold;">!</span></div>

                <div style="padding:10px;background-color:white;overflow: hidden"><input required name="county" type="text" id="modalLocation" placeholder="Location..">
                    <span id="error2"
                style="visibility: hidden; color:red;font-size: 1.4em;font-weight: bold;">!</span></div>
               
                <div id="modalImg" style="padding:10px;background-color:white;overflow: hidden;display: flex;justify-content: center">
                    <form >
                        <input type="hidden" name="avatar_url" id="avatar_url" class="simple-file-upload" data-maxFileSize="0.5"> 
                    </form>
                </div>

                <div id="modalPrice" style="padding:10px;background-color:white;overflow: hidden">
                    <input required type="text" name="modalPriceInput" id="modalPriceInput" placeholder="Price per night.."
                        required><span id="error3"
                        style="visibility: hidden; color:red;font-size: 1.4em;font-weight: bold;">!</span>
                </div>
                <div id="modalMessage" style="padding:10px;background-color:white;overflow: hidden">
                    <input required type="text" name="modalMessageInput" id="modalMessageInput" placeholder="Description.."
                        required><span id="error4"
                        style="visibility: hidden; color:red;font-size: 1.4em;font-weight: bold;">!</span>
                </div>
                <button class="py-2 px-5" type="button" onclick="insertMarker('<%=user.ID%>')" id="insertSpecialButton">✔ Save</button>
                
                
            </div>
        </div>
    </div>
    <div style="width:100vw;height:100vh;position:fixed;left:34%;" onclick="hideModal(1)"></div>
</div>


<%} else { %>
<div class="mainModal1 hideMe" id="mainModal1" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
    <div class="subModal1 hideMe" id="subModal1" style="position:fixed;height:fit-content; width:fit-content;z-index:10000;display: flex!important;flex-direction: row;justify-content: center;align-items: center">
        <div hidden id="modalCoords" style="padding:10px;background-color:white;overflow: hidden"></div>
        <%- include ('../login') %>
    </div>
</div>
<%}%>