<% if(typeof user =="object" ) {%>
    <% let checkAdmin=0; if(typeof user=="object") { checkAdmin=JSON.parse(JSON.stringify(user))[0].admin } %>
<div class="mainModal2 hideMe" id="mainModal2" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
    <div class="subModal2 hideMe" id="subModal2" style="border:5px solid rgb(239 188 244);background-color:white;position:fixed;height:80vh; width:400px;z-index:10000;border-radius:5%;display: flex!important;flex-direction: row;justify-content: center;">
        <div style="max-width:400px;display: flex;text-align: center;justify-content: center;flex-direction: column;">
            <div style="height:40vh;z-index: 999999999;width: 290px; display: flex; justify-content: center;align-items: center;flex-direction: column;">
                <div hidden id="hotelID" style="padding:10px;background-color:white;overflow: hidden"></div>
                <h1><%if(checkAdmin=="1"){%>Accommodation Management<%}else{%>Booking Information<%}%></h1>
                <div id="carrDiv" style="display: inline-block"></div>

                <span id="numberOfPeopleAVAILABLE" ></span>

                <div id="calendarDiv" <%if(checkAdmin=="1"){%>hidden<%}%> style="display: flex;gap:10px">
                    <button class="btn btn-block fs-5 fw-bolder" onclick="numberOfUsers('-1')">-</button>
                    <img src="https://cdn.iconscout.com/icon/free/png-256/person-1780867-1514182.png" srcset="https://cdn.iconscout.com/icon/free/png-512/person-1780867-1514182.png 2x" alt="Person Icon" style="width: 38px;
                    transform: translate(58px,4px);
                    position: absolute;">
                    <input readonly id="numberOfPeople" style="border-radius: 10%;
                    border: 1px solid rebeccapurple;
                    width: 92px;
                    text-align: end;
                    display: initial;" type="number" >
                    <button class="btn btn-block fs-5 fw-bolder" onclick="numberOfUsers('+1')">+</button>
                </div>

                <div class="vanilla-calendar" id="calendar" style="width: 260px;" ></div>

                <input hidden type="text" id="dateOfBooking" class="my-2" >
                <div hidden id="bookingUser" style="padding:10px;background-color:white;overflow: hidden"><%=user[0]["dataValues"].username%></div>
                <button <%if(checkAdmin=="1"){%>style="display:none"<%}%> class="py-2 px-5 rounded" type="button" onclick="completeBookingStep1()" id="insertSpecialButton2">🥂Book!</button>
                <%if(checkAdmin=="1"){%>
                    <div class="d-flex flex-row justify-content-center" style="    gap: 5px;">
                        <input min="0" type="number" class="w-25 text-center" id="spacesToAdd">    
                        <button class="py-2 px-3 rounded btn btn-primary" type="button" onclick="addSpaces(document.getElementById('hotelID').innerText, document.getElementById('spacesToAdd').value, document.getElementsByClassName('vanilla-calendar-day_selected')[0].attributes[1].nodeValue.substring(2).replace(/-/g,''))">👪SET AVAILABILITY!</button>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
    <div id="closingArea" style="width:100vw;height:100vh;position:fixed;left:0%;" onclick="hideModal(2)"></div>
</div>

<%} else { %>
    <div class="mainModal2 hideMe" id="mainModal2" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
        <div class="subModal2 hideMe" id="subModal2" style="position:fixed;height:fit-content; width:fit-content;z-index:10000;display: flex!important;flex-direction: row;justify-content: center;align-items: center">
                <%- include ('../login') %>
        </div>
    </div>
    <div class="mainModal5 hideMe" id="mainModal5" style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:9999;display: flex;justify-content: center;align-items: center">
        <div class="subModal5 hideMe" id="subModal5" style="position:fixed;height:fit-content; width:fit-content;z-index:10000;display: flex!important;flex-direction: row;justify-content: center;align-items: center">
                <%- include ('../register') %>
        </div>
    </div>
<%}%>
