<%
var checkUser=0;
if(typeof user=="object") {checkUser=1 }else{ checkUser=2 }
%>
<div id="results" class="pt-3" style="position:fixed;height:80vh; width: 95vw;bottom: 2%;left: 2%;border:2px solid rgb(239 188 244) ;overflow: scroll;overflow-x: hidden;"></div>
