<%- include('./partials/header') %>

<%- include ('./partials/messages') %>


<div class="contactForm text-center d-flex flex-column">
  <div class="container d-flex justify-content-center">
    <div class="cardz">
      <div class="front">
        <h1 style="font-family: 'Great Vibes', cursive!important;    font-size: 4.5rem;">Contact Form</h1>
        <div class="heart"></div>
      </div>
      <div class="back"><img class="photo" src="../pictures/cf.JPG" /></div>
      <div class="rear">
        <div class="justify">
          <form method="post" id="CTForm"><br><br><br><br><br>⭐

            <input onkeypress="checkBannedChars('name')" onkeyup="checkBannedChars('name')" type="text" name="name" id="name" placeholder="name" <% if(user){%>value=<%=user.name%> 
              <%}%> style="width: 230px;" required ><br>
            <input onkeypress="checkBannedChars('email')" onkeyup="checkBannedChars('email')" type="email" name="email" id="email" placeholder="email" <% if(user){%>value=<%=user.email%> 
                  <%}%> style="width: 230px;" required><br>
            <textarea onkeypress="checkBannedChars('message')" onkeyup="checkBannedChars('message')" type="text" name="message" id="message" placeholder="message" rows="4" 
                      cols="25" required></textarea><br><br>
            <input type="submit" value="Submit"><br><br>
          </form>

        </div>
      </div>
    </div>

  <script>

var heart = document.querySelector('.front');
var card = document.querySelector('.cardz');
var back = document.querySelector('.back');
heart.addEventListener( 'click', function() {
  card.classList.toggle('is-flipped');
});

back.addEventListener( 'click', function() {
  card.classList.toggle('is-flipped');
});
  </script>