<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="maps">
  <meta property="og:image" content="../pictures/1.jpg" />
  <script src="https://app.simplefileupload.com/buckets/86b89d9a54f61f46c1f1f821c4e703e4.js"></script>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  <meta charset="UTF-8" />
  <meta name="author" content="Mihai Culea">
  <meta name="author-email" content="alemihai25@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/cff487d9f4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
  <!-- basic theme for the website -->
  <link rel="stylesheet" type="text/css" href="config/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"
    defer></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>PlacesToStay</title>
  <script src="config/scripts.js" defer></script>
  <script src="config/script_ajax_calls.js" defer></script>
  <!-- leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" /><!-- leaflet.css -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script><!-- leaflet.js -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" /><!-- Geocoder -->
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script> <!-- Geocoder -->
  <!-- leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
</head>
<body>
  <div id="godDiv" style="display: flex;
  flex-direction: column;
  align-items: center;height:100vh; width:100vw;overflow:hidden;" >
    <%- body %>
  </div>
</body>

</html>