<%- include('./partials/header') %>

<%- include ('./partials/messages') %>
<%if(typeof user !="undefined" ) {%>
<% user = JSON.parse(JSON.stringify(user)) %>
<div class="mainProfileDiv">
    <div style="width:500px;display: flex;flex-direction:column;align-items: center;">
        <h1>User Profile Page</h1>
        <input type="text" placeholder="Username" value="<%=user[0].username%>">
        <input type="text" placeholder="Password">
        <button type="button" class="btn btn-success ">Update</button>
        <button type="button" class="btn btn-danger ">Delete</button>

        <h1>Bookings</h1>


    </div>
</div>
<%}%>