<%- include('./partials/header') %>

<%- include ('./partials/messages') %>
<div class="mainProfileDiv">
    <div class="profileDiv card card-body">
        <h1>User Profile Page</h1>
        <input type="text" placeholder="Username" value="<%=user[0]["dataValues"]["username"]%>">
        <input type="text" placeholder="Password">
        <button type="button" class="btn btn-success ">Update</button>
        <button type="button" class="btn btn-danger ">Delete</button>

        <h1>Bookings</h1>
        <li></li>
        <img src="https://cdn-j5lfyoei.files-simplefileupload.com/static/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcC9CIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--25b4ee736ec46d39a4529d15fcc3d96392b5f2e9/addstations.png" alt="">
    </div>
</div>