@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dela+Gothic+One&family=Festive&family=Grand+Hotel&family=Great+Vibes&family=Josefin+Sans:wght@300&family=Lora:ital@1&family=Noto+Sans&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif !important;
}
*::-webkit-scrollbar {
    width: 30px;
  }
*::-webkit-scrollbar-track {
    background: #66339959;
    border-radius:  30px 0 30px 0 ;
    margin: 44px 0 19px 0;
}
*::-webkit-scrollbar-thumb {
    background-color: rebeccapurple;
    border-radius:  30px 0 30px 0 ;
}
#map {
    border: 2px solid rgb(239 188 244);
}

.header {
    white-space: nowrap;
    width: 90vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.navCenter {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    margin-top: -8px;
}

.leaflet-control-geocoder {
    position: fixed !important;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);

}

.leaflet-routing-alt table {
    display: none;
}

.leaflet-popup-close-button {
    top: 2% !important;
    right: 2% !important;
}

.leaflet-popup-close-button>span {
    font-size: 3em;
}

.leaflet-popup-content {
    margin: 3em 1em 1em 1em !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popupClick {
    display: flex;
    flex-direction: column;
    align-items: center
}

.popupClick>p {
    margin: 0 !important;
}

.leaflet-popup>a,
#directionIcon {
    transition: .3s ease;
}

.leaflet-popup>a:hover,
#directionIcon:hover {
    transform: scale(1.2);
    font-weight: bolder;
}

.notDisplay {
    display: none !important;
}

.popupImgs {
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: .3s ease;
}

.popupImgs:hover {
    transform: scale(1.2);
}

.popupHiddenForm {
    display: flex;
    justify-content: center;
}

.popupHiddenForm>button {
    background-color: transparent;
    border: none;
    margin: 0 5px 0 5px;

}

.showMe {
    display: flex !important;
}

.hideMe {
    display: none !important;
}

.active {
    background-color: rgb(239 188 244) !important;
}

.alert {
    position: absolute;
    top: 5%;
    transform: translateX(-50%);
}

.popupImg {
    width: 200px;
    border-radius: 5%;
    transition: .3s ease;
}

.popupImg:hover {
    transform: scale(1.1)
}

.userFadeDownMenu {
    display: flex;
    flex-direction: column;
    transition: 1s ease-in;

}

.userProfileDiv {
    height: 50px;
    margin: 1em;
    width: fit-content;
    display: flex;
    border: 1px solid black;
    padding: 10px;
    gap: 20px;
    cursor: pointer;
    position: relative;

    box-shadow: inset 0 0 0 2000px rgba(239, 188, 244);
}

.profileSpace {
    position: absolute;
    right: 15%;
    top: 2%;
    text-align: end;
}

.userProfile {
    display: flex;
    flex-direction: column;
    height: 70px;
    overflow: hidden;
    transition: 1s ease-in;
}

.userProfile:hover,
.UserProfileDropDownMenu {
    height: fit-content;
    z-index: 999999999;
    overflow: visible;
}

.mainProfileDiv {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 100vh;
}

.mainProfileDiv::before {
    margin-top: 20vh;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    opacity: 0.1;
    background-image: url("https://static8.depositphotos.com/1094859/855/v/950/depositphotos_8559967-stock-illustration-doodle-hotel-pictures-pattern.jpg");
    /*https://depositphotos.com/8559967/stock-illustration-doodle-hotel-pictures-pattern.html*/
    background-size: 200px;
    z-index: -1;
}


.btnActive {
    background-color: rgb(239 188 244) !important;
    display: block !important;
}

.windowActive {
    display: flex !important;
}

.searchDiv {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: baseline;
    position: absolute;
    z-index: 999;
    top: 16%;
    transform: translateX(-50%);
}

.filterDiv {
    display: flex;
    flex-direction: column!important;
    white-space: nowrap;
    align-items: baseline;
    padding: 10px 10px 33px 10px;
    z-index: 999;
    height: fit-content;
    width: 300px;
    background-color: #f5efef;
}

#results {
    display: flex;
    background-color: rgba(239 188 244, 0.3) !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#results>div {
    width: 250px;
    height: 400px;
    padding: 10px;
    box-shadow: 15px -20px 16px 0 rgb(235 141 223 / 30%) inset;
    transition: .5s ease;
    border-radius: 0 0 0 50px;
}
#results>div:hover {
    transform: scale(1.05);
}

#results>div>img {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.hotelImgCarousel {
    width: 480px;
    position: relative;
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 50%;
    z-index: 9699999;
    font-size: 2rem;
    color: red;
}

.arrowLeft {
    left: 2%;

}

.arrowLeft {
    right: 2%;

}

.carousel {
    margin-top: 50px;
    width: 200px;
}

.carouselImg {
    height: 200px;
    width: 200px;
}

.carousel-item {
    max-width: 200px;
}

.carousel-inner {
    max-width: 200px!important;
}

.carousel-indicators>button {
    width: 50px;
    height: 50px;
    border: 1px solid black !important;
}

#popupMessages{
    white-space: initial;
    position: fixed;
    top: 33%;
    left: 50%;
    z-index: 9999;
}
table > tbody > tr > td {
    padding: 10px;
    border: 1px solid black;
}

@media (max-width: 800px) {
    .subModal2 {
        width: 80vw !important;
    }

    .subModal2>div {
        width: 80vw !important;
    }
    .header>div:nth-child(2){
        display: none;
    }
    #map {
        bottom: 0% !important;
        width: 100vw !important;
    }



}

.overflow-elipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.divResults {
    position: relative;
    display: none;
}

.divResults>button {
    position: absolute;
    right: 4%;
    bottom: 5%;
    padding: 0px 10px 0px 10px;
    border-radius: 10%;
    align-items: center;
    background-color:rgb(235 141 223);
    display: flex;
    justify-content: center;
    border: none;
}

.make-main-profile-picture {
    position: absolute;
    right: 0%;
    top: -17%;
}
.leaflet-routing-collapse-btn{
    left: 1px!important;
    top: 0px!important;
}
/* start dual slider input-range */
.input-range {
    padding-top: 10px;
    height: 25px !important;
    position: relative;
    max-width: 300px;
}

.input-range input[type="range"].multirange {
    width: 100%;
}

.input-range .range {
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    font-size: 13px;
    color: #777;
    font-size: 12px;
}

.input-range input[type="range"].multirange {
    padding: 0;
    --range-color: #387ef5;
    /* 007cc2 */
    --range-color: #387ef5;
    /* 98ce44 */
    margin: 0;
    display: inline-block;
    vertical-align: top;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.input-range input[type="range"].multirange.original {
    position: absolute;
}

.input-range input[type="range"].multirange::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #ddd, #ddd) no-repeat 0 50% / 100% 20%;
}

.input-range input[type="range"].multirange.original::-webkit-slider-thumb {
    position: relative;
    z-index: 2;
}

.input-range input[type="range"].multirange::-webkit-slider-thumb {
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    border-radius: 15px;
    border: none;
    display: block;
    background: var(--range-color);
    height: 15px;
    width: 15px;
}

.input-range input[type="range"].multirange.original::-moz-range-thumb {
    transform: scale(1);
    z-index: 1;
}

.input-range input[type="range"].multirange::-moz-range-track {
    border-color: transparent;
}

.input-range input[type="range"].multirange.ghost {
    position: relative;
    background: linear-gradient(to right,
            transparent var(--low),
            var(--range-color) 0,
            var(--range-color) var(--high),
            transparent 0) no-repeat 0 50% / 100% 20%;
}

.input-range input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
    background: linear-gradient(to right,
            transparent var(--low),
            var(--range-color) 0,
            var(--range-color) var(--high),
            transparent 0) no-repeat 0 50% / 100% 20%;
}

.input-range input[type="range"].multirange.ghost::-moz-range-track {
    background: linear-gradient(to right,
            transparent var(--low),
            var(--range-color) 0,
            var(--range-color) var(--high),
            transparent 0) no-repeat 0 45% / 100% 40%;
}

/* end input-range */
#insertSpecialButton2{
    background-color: #d741d780;
    border: none;
}